flows.json
[
    {
        "id": "6d06c49ab6dc74a9",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f659106940596ae9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "801ebfd35256b02f",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f84c7701cf4c7de1",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9eb5ef4556180e38",
        "type": "tab",
        "label": "Ejercicio_EVEA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "60a29e408df7ee51",
        "type": "mqtt-broker",
        "name": "Hivemq.com",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "mqttx_5f020cb0",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "PedroZavala/hi",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "Hola mundo",
        "birthMsg": {},
        "closeTopic": "PedroZavala/Adios",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "PedroZavala/ohno",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f5aa086a18ebc2a2",
        "type": "mqtt-broker",
        "name": "Localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "776208f6a31dfab2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dcc16a171372887b",
        "type": "ui_tab",
        "name": "Grupo1Flow1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "54c301fe84a060d3",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#00b7ff",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bd4003ca038032b1",
        "type": "ui_group",
        "name": "Parte 1",
        "tab": "dcc16a171372887b",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e4e8a53bdbe58f14",
        "type": "ui_tab",
        "name": "Group2Flow2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "74d183b7e9cfa1bb",
        "type": "ui_group",
        "name": "Parte 2",
        "tab": "e4e8a53bdbe58f14",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a760d29056aa7131",
        "type": "ui_group",
        "name": "parte2",
        "tab": "dcc16a171372887b",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a017dcbe9ccd2551",
        "type": "ui_group",
        "name": "Parte3",
        "tab": "dcc16a171372887b",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1343ba6a08765b87",
        "type": "ui_group",
        "name": "Parte4",
        "tab": "dcc16a171372887b",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "748349e6a87beaab",
        "type": "inject",
        "z": "6d06c49ab6dc74a9",
        "name": "Boton Gnerador Celcius",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "ed064008a7ee0497"
            ]
        ]
    },
    {
        "id": "702c706337ea810e",
        "type": "debug",
        "z": "6d06c49ab6dc74a9",
        "name": "Numeros Aleatorios Generados",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 320,
        "wires": []
    },
    {
        "id": "deb6a80d21fddcb2",
        "type": "debug",
        "z": "6d06c49ab6dc74a9",
        "name": "Temperatura",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 100,
        "wires": []
    },
    {
        "id": "c4688cda9392c479",
        "type": "function",
        "z": "6d06c49ab6dc74a9",
        "name": "Multiplicar para 10",
        "func": "msg.payload = (msg.payload * 10).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 100,
        "wires": [
            [
                "deb6a80d21fddcb2",
                "fa0b3f1ba84bc43f"
            ]
        ]
    },
    {
        "id": "54a5e6882f3238ab",
        "type": "comment",
        "z": "6d06c49ab6dc74a9",
        "name": "LITERAL 1",
        "info": "",
        "x": 460,
        "y": 260,
        "wires": []
    },
    {
        "id": "eabeae8040c5d6d2",
        "type": "comment",
        "z": "6d06c49ab6dc74a9",
        "name": "LITERAL 2",
        "info": "",
        "x": 1040,
        "y": 40,
        "wires": []
    },
    {
        "id": "506a7c9e341abb6d",
        "type": "comment",
        "z": "6d06c49ab6dc74a9",
        "name": "LITERAL 3",
        "info": "",
        "x": 1000,
        "y": 500,
        "wires": []
    },
    {
        "id": "1cc28b744bf28cc3",
        "type": "debug",
        "z": "6d06c49ab6dc74a9",
        "name": "Humedad",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 560,
        "wires": []
    },
    {
        "id": "58296fe9e757d6a3",
        "type": "function",
        "z": "6d06c49ab6dc74a9",
        "name": "Multiplicar para 3 y sumar 2.5",
        "func": "msg.payload = ((msg.payload * 3) + 2.5).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 560,
        "wires": [
            [
                "1cc28b744bf28cc3",
                "b767d990fd3c91eb"
            ]
        ]
    },
    {
        "id": "fa0b3f1ba84bc43f",
        "type": "switch",
        "z": "6d06c49ab6dc74a9",
        "name": "Detector > 50 grados",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 220,
        "wires": [
            [
                "89c85b72d90ae9a5"
            ]
        ]
    },
    {
        "id": "b767d990fd3c91eb",
        "type": "switch",
        "z": "6d06c49ab6dc74a9",
        "name": "Detector > 90 de humedad",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "90",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 660,
        "wires": [
            [
                "8c544b5050109871"
            ]
        ]
    },
    {
        "id": "89c85b72d90ae9a5",
        "type": "debug",
        "z": "6d06c49ab6dc74a9",
        "name": "Alarma > 50 grados",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$boolean(true)",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 220,
        "wires": []
    },
    {
        "id": "8c544b5050109871",
        "type": "debug",
        "z": "6d06c49ab6dc74a9",
        "name": "Alarma > 90 de humedad",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$boolean(true)",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 660,
        "wires": []
    },
    {
        "id": "730f03f99a452b80",
        "type": "comment",
        "z": "6d06c49ab6dc74a9",
        "name": "LITERAL 5",
        "info": "",
        "x": 1420,
        "y": 160,
        "wires": []
    },
    {
        "id": "5e91e4c56931f65e",
        "type": "comment",
        "z": "6d06c49ab6dc74a9",
        "name": "LITERAL 6",
        "info": "",
        "x": 1420,
        "y": 600,
        "wires": []
    },
    {
        "id": "ce55734b9b3c58e3",
        "type": "comment",
        "z": "6d06c49ab6dc74a9",
        "name": "Ejercicio 2 .toFixed(2)",
        "info": "",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "b38f73af0d501f91",
        "type": "change",
        "z": "6d06c49ab6dc74a9",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "",
                "fromt": "num",
                "to": "",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "0b4b7b8562f3f927",
        "type": "inject",
        "z": "6d06c49ab6dc74a9",
        "name": "Boton Gnerador Celcius",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "bbccd0ab607e9844"
            ]
        ]
    },
    {
        "id": "53a82531f8101b64",
        "type": "comment",
        "z": "6d06c49ab6dc74a9",
        "name": "Ejercicio 1 ",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "ed064008a7ee0497",
        "type": "random",
        "z": "6d06c49ab6dc74a9",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "false",
        "property": "payload",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "c4688cda9392c479",
                "702c706337ea810e"
            ]
        ]
    },
    {
        "id": "bbccd0ab607e9844",
        "type": "random",
        "z": "6d06c49ab6dc74a9",
        "name": "",
        "low": "10",
        "high": "40",
        "inte": "false",
        "property": "payload",
        "x": 340,
        "y": 460,
        "wires": [
            [
                "58296fe9e757d6a3",
                "702c706337ea810e"
            ]
        ]
    },
    {
        "id": "7a5e24598c273259",
        "type": "inject",
        "z": "f659106940596ae9",
        "name": "Boton Gnerador Celcius",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "7eedc548652ac8d2"
            ]
        ]
    },
    {
        "id": "45671d48f7510717",
        "type": "debug",
        "z": "f659106940596ae9",
        "name": "Numeros Aleatorios Generados",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 380,
        "wires": []
    },
    {
        "id": "a3bd61f1b8d3905d",
        "type": "debug",
        "z": "f659106940596ae9",
        "name": "Temperatura",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 160,
        "wires": []
    },
    {
        "id": "94041861298c50e6",
        "type": "comment",
        "z": "f659106940596ae9",
        "name": "LITERAL 1",
        "info": "",
        "x": 500,
        "y": 340,
        "wires": []
    },
    {
        "id": "90f2d78efa27de88",
        "type": "comment",
        "z": "f659106940596ae9",
        "name": "LITERAL 2",
        "info": "",
        "x": 1080,
        "y": 100,
        "wires": []
    },
    {
        "id": "f7070e9ede66cae5",
        "type": "comment",
        "z": "f659106940596ae9",
        "name": "LITERAL 3",
        "info": "",
        "x": 1040,
        "y": 560,
        "wires": []
    },
    {
        "id": "68eb80f72b331396",
        "type": "debug",
        "z": "f659106940596ae9",
        "name": "Humedad",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 620,
        "wires": []
    },
    {
        "id": "a0232a35b1d5387c",
        "type": "switch",
        "z": "f659106940596ae9",
        "name": "Detector > 50 grados",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 860,
        "y": 280,
        "wires": [
            [
                "1b9fde13ee5a5e1f"
            ]
        ]
    },
    {
        "id": "92020fcb89213d46",
        "type": "switch",
        "z": "f659106940596ae9",
        "name": "Detector > 90 de humedad",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "90",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 980,
        "y": 720,
        "wires": [
            [
                "e2f364ab874237f1"
            ]
        ]
    },
    {
        "id": "b41b79b4949b69ce",
        "type": "debug",
        "z": "f659106940596ae9",
        "name": "Alarma > 50 grados",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 280,
        "wires": []
    },
    {
        "id": "e2f364ab874237f1",
        "type": "debug",
        "z": "f659106940596ae9",
        "name": "Alarma > 90 de humedad",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$boolean(true)",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 720,
        "wires": []
    },
    {
        "id": "3443508a3e7cd79b",
        "type": "comment",
        "z": "f659106940596ae9",
        "name": "LITERAL 5",
        "info": "",
        "x": 1360,
        "y": 220,
        "wires": []
    },
    {
        "id": "9597c14fe8d273ab",
        "type": "comment",
        "z": "f659106940596ae9",
        "name": "LITERAL 6",
        "info": "",
        "x": 1360,
        "y": 660,
        "wires": []
    },
    {
        "id": "c12604d5022b1c57",
        "type": "comment",
        "z": "f659106940596ae9",
        "name": "Ejercicio 2 .toFixed(2)",
        "info": "",
        "x": 200,
        "y": 120,
        "wires": []
    },
    {
        "id": "d9a1e009ecb810fe",
        "type": "change",
        "z": "f659106940596ae9",
        "name": "Multiplicar para 3 y sumar 2.5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round((msg.payload * 3) + 2.5, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 620,
        "wires": [
            [
                "92020fcb89213d46",
                "68eb80f72b331396"
            ]
        ]
    },
    {
        "id": "5ad31c6a032a8667",
        "type": "inject",
        "z": "f659106940596ae9",
        "name": "Boton Gnerador Celcius",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "55775135f03cf658"
            ]
        ]
    },
    {
        "id": "bb0f7069dce59572",
        "type": "change",
        "z": "f659106940596ae9",
        "name": "Multiplicar para 10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round((msg.payload * 10), 2)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "a0232a35b1d5387c",
                "a3bd61f1b8d3905d"
            ]
        ]
    },
    {
        "id": "1b9fde13ee5a5e1f",
        "type": "change",
        "z": "f659106940596ae9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ALARMA ACTIVADA TEMPERATURA MAYOR A 50 GRADOS",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 280,
        "wires": [
            [
                "b41b79b4949b69ce"
            ]
        ]
    },
    {
        "id": "7eedc548652ac8d2",
        "type": "random",
        "z": "f659106940596ae9",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "false",
        "property": "payload",
        "x": 380,
        "y": 260,
        "wires": [
            [
                "45671d48f7510717",
                "bb0f7069dce59572"
            ]
        ]
    },
    {
        "id": "55775135f03cf658",
        "type": "random",
        "z": "f659106940596ae9",
        "name": "",
        "low": "10",
        "high": "40",
        "inte": "false",
        "property": "payload",
        "x": 380,
        "y": 520,
        "wires": [
            [
                "45671d48f7510717",
                "d9a1e009ecb810fe"
            ]
        ]
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "801ebfd35256b02f",
        "name": "JSON inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Mensaje Original",
        "payload": "{\"temp\":23,\"hum\":88,\"name\":\"pepito\"}",
        "payloadType": "json",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "debug1",
                "29ad4777b4808109",
                "c9b5226c63c9351b",
                "9fe9ebad7ec95501",
                "94b75ac33b4c6b3f"
            ]
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "801ebfd35256b02f",
        "name": "Ver JSON Completo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "d46ea8a5d4c3be9a",
        "type": "debug",
        "z": "801ebfd35256b02f",
        "name": "Ver topic Nuevo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 400,
        "wires": []
    },
    {
        "id": "29ad4777b4808109",
        "type": "change",
        "z": "801ebfd35256b02f",
        "name": "Añadir Ciudad",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"temp\":23,\"hum\":88,\"name\":\"pepito\",\"ciud\":\"machala\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "e3ac515788730d5b",
                "e84b4987466e1486"
            ]
        ]
    },
    {
        "id": "e84b4987466e1486",
        "type": "change",
        "z": "801ebfd35256b02f",
        "name": "Modificar Topic",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "topic",
                "fromt": "msg",
                "to": "Mensaje Alterado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 400,
        "wires": [
            [
                "d46ea8a5d4c3be9a"
            ]
        ]
    },
    {
        "id": "c9b5226c63c9351b",
        "type": "debug",
        "z": "801ebfd35256b02f",
        "name": "Ver hum",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.hum",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "9fe9ebad7ec95501",
        "type": "debug",
        "z": "801ebfd35256b02f",
        "name": "Ver temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.temp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "94b75ac33b4c6b3f",
        "type": "debug",
        "z": "801ebfd35256b02f",
        "name": "Ver name",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.name",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 200,
        "wires": []
    },
    {
        "id": "e3ac515788730d5b",
        "type": "debug",
        "z": "801ebfd35256b02f",
        "name": "Ver Cambios",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "71d1ba4a2bd673ad",
        "type": "debug",
        "z": "f84c7701cf4c7de1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "56460a236e79844f",
        "type": "debug",
        "z": "f84c7701cf4c7de1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 260,
        "wires": []
    },
    {
        "id": "bc0cbcb8fbb71b4e",
        "type": "mqtt in",
        "z": "f84c7701cf4c7de1",
        "name": "",
        "topic": "/Mosquitto/Prueba_IoT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f5aa086a18ebc2a2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "56460a236e79844f"
            ]
        ]
    },
    {
        "id": "280bdbd949e003b7",
        "type": "mqtt in",
        "z": "f84c7701cf4c7de1",
        "name": "",
        "topic": "/utmach/prueba_IoT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "776208f6a31dfab2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "71d1ba4a2bd673ad"
            ]
        ]
    },
    {
        "id": "9b3309d2121af637",
        "type": "comment",
        "z": "9eb5ef4556180e38",
        "name": "Clase 5 Ejercicio 1",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "ec095b3459814196",
        "type": "random",
        "z": "9eb5ef4556180e38",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "c2d661f30179bd8e",
                "71740213052efe20",
                "d1db0ca3525c5a7f",
                "f2906cee1de39eb6",
                "e783822c951251af"
            ]
        ]
    },
    {
        "id": "bd470c225b69b0ec",
        "type": "inject",
        "z": "9eb5ef4556180e38",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hola",
        "payloadType": "str",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "ec095b3459814196"
            ]
        ]
    },
    {
        "id": "71740213052efe20",
        "type": "ui_chart",
        "z": "9eb5ef4556180e38",
        "name": "",
        "group": "a760d29056aa7131",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c2d661f30179bd8e",
        "type": "ui_toast",
        "z": "9eb5ef4556180e38",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "259ab2a111fafa6a",
        "type": "ui_chart",
        "z": "9eb5ef4556180e38",
        "name": "",
        "group": "a017dcbe9ccd2551",
        "order": 15,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d1db0ca3525c5a7f",
        "type": "ui_numeric",
        "z": "9eb5ef4556180e38",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "bd4003ca038032b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 420,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b2ef90eae4539a3b",
        "type": "ui_date_picker",
        "z": "9eb5ef4556180e38",
        "name": "",
        "label": "date",
        "group": "a017dcbe9ccd2551",
        "order": 23,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 610,
        "y": 80,
        "wires": [
            [
                "3f4bcdae8dd23752"
            ]
        ]
    },
    {
        "id": "9829b95a065012bd",
        "type": "ui_toast",
        "z": "9eb5ef4556180e38",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "896ae7ffb77dc9a2",
        "type": "ui_button",
        "z": "9eb5ef4556180e38",
        "name": "",
        "group": "a017dcbe9ccd2551",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "259ab2a111fafa6a"
            ]
        ]
    },
    {
        "id": "ad27388b5bd6da5a",
        "type": "ui_switch",
        "z": "9eb5ef4556180e38",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a017dcbe9ccd2551",
        "order": 21,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 450,
        "y": 340,
        "wires": [
            [
                "259ab2a111fafa6a"
            ]
        ]
    },
    {
        "id": "2d86eb2365962683",
        "type": "ui_slider",
        "z": "9eb5ef4556180e38",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "bd4003ca038032b1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "71740213052efe20"
            ]
        ]
    },
    {
        "id": "88e461d58b1c8b0e",
        "type": "ui_numeric",
        "z": "9eb5ef4556180e38",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "a017dcbe9ccd2551",
        "order": 25,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "9829b95a065012bd"
            ]
        ]
    },
    {
        "id": "ee2b878a2494a3d1",
        "type": "ui_text_input",
        "z": "9eb5ef4556180e38",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "a017dcbe9ccd2551",
        "order": 26,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 100,
        "y": 400,
        "wires": [
            [
                "9829b95a065012bd"
            ]
        ]
    },
    {
        "id": "c02660783ab7b453",
        "type": "ui_colour_picker",
        "z": "9eb5ef4556180e38",
        "name": "",
        "label": "",
        "group": "a017dcbe9ccd2551",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 27,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "9829b95a065012bd"
            ]
        ]
    },
    {
        "id": "3f4bcdae8dd23752",
        "type": "ui_text_input",
        "z": "9eb5ef4556180e38",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "a017dcbe9ccd2551",
        "order": 24,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 800,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f2906cee1de39eb6",
        "type": "ui_gauge",
        "z": "9eb5ef4556180e38",
        "name": "",
        "group": "1343ba6a08765b87",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 150,
        "y": 280,
        "wires": []
    },
    {
        "id": "fcd16d91ff8dd24b",
        "type": "comment",
        "z": "9eb5ef4556180e38",
        "name": "Clase 5 Ejercicio 2 LEDS",
        "info": "",
        "x": 130,
        "y": 580,
        "wires": []
    },
    {
        "id": "e783822c951251af",
        "type": "ui_gauge",
        "z": "9eb5ef4556180e38",
        "name": "",
        "group": "bd4003ca038032b1",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "31fbb6acbe310afe",
        "type": "random",
        "z": "9eb5ef4556180e38",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "8854a9d19fb564cd",
        "type": "ui_led",
        "z": "9eb5ef4556180e38",
        "order": 0,
        "group": "ui_group",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": false,
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": true,
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 690,
        "y": 740,
        "wires": []
    },
    {
        "id": "19aad931938fe8ad",
        "type": "switch",
        "z": "9eb5ef4556180e38",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "15",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 740,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8bd398d1b46013f8",
        "type": "comment",
        "z": "9eb5ef4556180e38",
        "name": "Mayor a 50",
        "info": "",
        "x": 460,
        "y": 680,
        "wires": []
    },
    {
        "id": "4485023420b95aa8",
        "type": "comment",
        "z": "9eb5ef4556180e38",
        "name": "Menor a 15",
        "info": "",
        "x": 470,
        "y": 800,
        "wires": []
    }
]